.restaurant-detail__info-offers {
  /* margin-right: 80px; */
  display: flex;
  align-self: flex-start;
}

.restaurant-detail__info-offers .card {
  height: max-content;
  width: max-content;
  padding: 0.8rem 1.5rem 0.8rem 3rem;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

.restaurant-detail__info-offers .card:first-of-type {
  background-color: #e23744;
  margin-right: 10px;
}

.restaurant-detail__info-offers .card:last-of-type {
  background-color: #84c225;
}

.offers__title {
  margin: 0;
  position: absolute;
  left: 2px;
  top: 25px;
  bottom: 25px;
  font-size: 1.6rem;
  font-weight: 700;
  transform: rotate(270deg);
}

.restaurant-detail__info-offers .card-title {
  font-size: 1rem;
}

.restaurant-detail__info-offers .card-text {
  margin-bottom: 0.25rem;
}

.restaurant-detail__info-offers p {
  font-size: 0.7rem;
}

@media (max-width: 960px) {
  .restaurant-detail__info-offers {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .restaurant-detail__info-offers .card {
    padding: 0.8rem 1rem 0.8rem 2rem;
  }
  .restaurant-detail__info-offers .card:first-of-type {
    margin: 0 0 5px 0;
  }

  .offers__title {
    left: -16px;
    border: none;
  }
}

@media (max-width: 640px) {
  .restaurant-detail__info-offers .card:first-of-type {
    margin: 0 0 5px 0;
  }

  .restaurant-detail__info-offers .card-title {
    font-size: 12px;
  }

  .restaurant-detail__info-offers p {
    font-size: 8px;
  }
}
