.cover{
  background-image: linear-gradient(180deg, rgba(255, 171, 56, 0.22) 0%, rgba(255, 252, 232, 0) 100%);
  margin: -5rem -15rem 0rem -15rem;
  padding: 5rem 15rem 15rem 25rem;
}
.cover-title{
  font-size: 8rem;
  font-family: 'Roboto', sans-serif;
  line-height: 10rem;
  margin-bottom: 5rem;
  padding-top: 8rem;
}
.cover-title2{
  color:#FAB84C;
}
.cover-sub-title{
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  line-height: 3rem;
  color:#67645F;
  margin-bottom: 2rem;
}
.cover-orderNow{
  font-size: 2rem;
  padding: 2.5rem 4.2rem;
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: #FAB84C;
  border-radius: 50px;
  color: white;
}
.circle-img-wrapper{
  text-align: center;
  position: relative;

}
.circle-img{
  position: relative;
  z-index: 3;
  width: 50%;
}
.rectangle-left{
  position: absolute;
  z-index: 4;
  top: 65%;
  left: 12%;
  width: 35%;
}
.rectangle-right{
  position: absolute;
  z-index: 4;
  top: 80%;
  left: 55%;
  width: 35%;

}