.cover{
  background: linear-gradient(180deg, rgba(255, 171, 56, 0.22) 0%, rgba(255, 252, 232, 0) 100%);
  margin: -3.4rem -3.2rem 0rem -3rem;
  padding: 5rem 0rem 0rem 5rem;
}
.cover-title{
  font-family:Roboto;
  font-size: 3.5rem;
  margin-bottom: 6rem;
  padding-top: 3rem;
}
.cover-title2{
  color:#FAB84C;
}
.cover-sub-title{
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2rem;
}
.cover-orderNow{
  background-color: #FAB84C;
  padding: 1rem 3rem;
  border-radius: 5rem;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
.circle-img-wrapper{
  align-items: center;
  text-align: center;
}
.circle-img{
  width: 50%;
  position: relative;
  z-index: 3;
  left: 20%;
}
.rectangle-left{
  position: relative;
  z-index: 5;
  top: 7rem;
  left: -50%;
}
.rectangle-right{
  position: relative;
  z-index: 5;
  top: -6rem;
  left: 10rem;
}
