.menu-types {
  flex: 2;
  border-right: 3px solid #cfcfcf;
  height: 500px;
}

.menu-types__heading {
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  padding: 2rem 40px;
}

.menu-types ul {
  cursor: pointer;
}

.menu-types li {
  padding: 2rem 40px;
  font-size: 15px;
  color: #000;
}

.menu-types li:hover,
.menu-types li:active,
.menu-types li.active {
  color: #f7c12b;
  border-right: 5px solid #f7c12b;
}

@media (max-width: 60rem) {
  .menu-types {
    display: none;
  }

  .menu-types ul {
    display: none;
  }

  .menu-types li {
    display: none;
  }
}
