.menu-types {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-right: 3px solid #cfcfcf;
  height: 30rem;
}

.menu-types__heading {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 0;
}

.menu-types ul {
  cursor: pointer;
}

.menu-types li {
  padding: 1rem 0;
  font-size: 1rem;
  color: #000;
}

.menu-types li:hover,
.menu-types li:active,
.menu-types li.active {
  color: #f7c12b;
  border-right: 5px solid #f7c12b;
}

@media (max-width: 960px) {
  .menu-types {
    display: none;
  }

  .menu-types ul {
    display: none;
  }

  .menu-types li {
    display: none;
  }
}
