@font-face {
  font-family: segoe;
  src: url(../../fonts/Segoe\ UI.ttf);
}
.navlink-logo {
  padding: 0;
}

.navlink-logo.active {
  padding: 0;
}

.logo {
  width: 4rem;
  height: 3rem;
  background-color: #012933;
}

.btnn {
  font-size: 1rem;
  font-family: segoe;
  font-weight: 600;
  color: #fcfcfc;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
.btnn:hover {
  color: #fcfcfc;
  -webkit-box-shadow: 1px 1px 5px gray;
  box-shadow: 1px 1px 5px gray;
}
.bg-white {
  background-color: #fcfcfc;
}
a {
  padding: 0rem;
  color: #000;
}
.header-items {
  font-size: 1rem;
  font-weight: 500;
  font-family: segoe;
  padding: 1rem 0rem 1.25rem;
  margin-right: 2.5rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header-items > a {
  color: #fff;
  text-decoration: none;
}
.header-items > a:hover,
.header-items > a.selected {
  color: #fab84c;
}
.navbar {
  background-color: #012933 !important;
  padding-bottom: 0.5rem;
  padding: 0rem;
  margin-bottom: 3.5rem;
}
.navbar-brand a {
  padding: 0rem;
  background-color: #012933;
  color: #fff;
}
.location {
  font-size: 1.2rem;
}

.search-bar {
  margin-bottom: 2.5rem;
}
.services {
  font-size: 1.6rem;
}
.round {
  border-radius: 100%;
}

.blog {
  font-size: 1.6rem;
  color: #000;
}

@media (max-width: 640px) {
  .header-items > a {
    margin: 1rem;
  }
  .btnn {
    margin: 1rem;
  }
}
