@font-face {
  font-family: segoe;
  src: url(../../fonts/Segoe\ UI.ttf);
}
.navlink-logo {
  padding: 0;
}

.navlink-logo.active {
  padding: 0;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.btn {
  font-size: 1rem;
  font-family: segoe;
  font-weight: 600;
  color: #fcfcfc;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
.btn:hover {
  color: #fcfcfc;
  -webkit-box-shadow: 1px 1px 5px gray;
  box-shadow: 1px 1px 5px gray;
}
.bg-white {
  background-color: #fcfcfc;
}
a {
  padding: 0rem;
}
.header-items {
  font-size: 1rem;
  font-weight: 500;
  font-family: segoe;
  padding: 1rem 0rem 1.25rem;
  margin-right: 2.5rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header-items > a {
  color: black;
  text-decoration: none;
}
.header-items > a:hover {
  color: black;
  text-shadow: 1px 1px 1px #e0e0e0;
  border-bottom: 4px solid #fab84c;
}
.navbar {
  -webkit-box-shadow: 1px 1px 10px rgb(184, 184, 184);
  box-shadow: 1px 1px 10px rgb(184, 184, 184);
  background-color: rgb(253, 253, 253);
  padding-bottom: 0.5rem;
  padding: 0rem;
  margin-bottom: 3.5rem;
}
.navbar-brand {
  padding: 0rem;
}
.location {
  font-size: 1.2rem;
}

.search-bar {
  margin-bottom: 2.5rem;
}
.search {
  min-height: 4rem;
}
.services {
  font-size: 1.6rem;
}
.round {
  border-radius: 100%;
}

.blog {
  font-size: 1.6rem;
  color: #000;
}

@media (max-width: 640px) {
  .header-items > a {
    margin: 1rem;
  }
  .btn {
    margin: 1rem;
  }
}
