.specialoffer-img{
    height: 20rem;
    width: 42rem;
    margin: auto auto;
}
.mx-auto{
    margin: auto;
}

.carousel {
    margin-bottom: 5rem;
}

@media (max-width:400px){
    .specialoffer-img{
        width: 80%;
        height: 25rem;
    }
    .center{
        text-align: center;
    }
}