.overview {
  flex: 7;
  margin-bottom: 6rem;
}

.overview-container {
  margin: 3rem;
}

.overview-container h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.overview__img_container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.overview__img_container img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

@media (max-width: 60rem) {
  .overview-container h1 {
    font-size: 6rem;
  }
}
