.market-oppurtunity {
  margin-bottom: 2rem;
}

.market-oppurtunity__img-container {
  position: relative;
  width: 100%;
  height: 40rem;
  -webkit-transform: translateY(-24rem);
  -ms-transform: translateY(-24rem);
  transform: translateY(-24rem);
  z-index: -100;
}

.market-oppurtunity__img-container img {
  width: 100%;
  height: 100%;
}

.market-oppurtunity__img-container2 {
  display: none;
}

.market-oppurtunity h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin: 2rem 0;
  color: #3e313e;
}

.market-oppurtunity__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 55%;
  margin: 1.5rem 0;
  padding-left: 0;
  list-style: none;
}

.market-oppurtunity__item p {
  color: #959195;
  font-size: 1rem;
  margin: 1rem 0;
}

.market-oppurtunity__item h2 {
  color: #3e313e;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 1px 0 #3e313e;
}

.market-oppurtunity__item:last-of-type h2 {
  font-size: 4rem;
  text-shadow: 2px 0 #3e313e;
}

.market-oppurtunity__item:last-of-type {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-left: 5%;
}

@media (max-width: 960px) {
  .market-oppurtunity {
    margin-bottom: 5rem;
  }
  .market-oppurtunity h1 {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
  .market-oppurtunity__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding-left: 0;
    list-style: none;
  }

  .market-oppurtunity__item {
    margin: 1rem 0;
  }

  .market-oppurtunity__item p {
    color: #959195;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
  }

  .market-oppurtunity__item h2 {
    color: #3e313e;
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 1px 0 #3e313e;
    text-align: center;
  }

  .market-oppurtunity__item:last-of-type {
    margin-left: 0;
  }

  .market-oppurtunity__item:last-of-type h2 {
    font-size: 4rem;
    text-shadow: 1px 0 #3e313e;
  }

  .market-oppurtunity__img-container2 {
    display: block;
    width: 100%;
    height: 35rem;
  }

  .market-oppurtunity__img-container2 img {
    height: 100%;
    width: 100%;
  }

  .market-oppurtunity__img-container {
    display: none;
  }
}

@media (max-width: 640px) {
  .market-oppurtunity__img-container2 {
    height: 15rem;
  }

  .market-oppurtunity__item {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .market-oppurtunity__item p {
    font-size: 1rem;
  }

  .market-oppurtunity__item h2,
  .market-oppurtunity__item h2:last-of-type {
    font-size: 1.5rem;
  }
}
