@font-face {
  font-family: Segoe Ui;
  src: url('../../../fonts/Segoe\ UI.ttf');
}

.menu {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu h1,
.menu h3,
.menu ul,
.menu li,
.menu p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

@media (max-width: 960px) {
  .menu h1,
  .menu h3,
  .menu ul,
  .menu li,
  .menu p {
    letter-spacing: normal;
  }
}
