.newsfeed {
  margin-top: -15rem;
}

.newsfeed h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin: 0 0 4rem;
  color: #3e313e;
}

.newsfeed__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.newsfeed__item {
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  background: #fffce8;
  padding: 0;
}

.newsfeed__item-img-container {
  width: 100%;
  height: 35rem;
}

.newsfeed__item-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.newsfeed__item-info {
  height: 15rem;
}

.newsfeed__item-info h2 {
  margin: 3rem 2.5rem;
  font-size: 3rem;
  color: #3e313e;
  font-weight: 700;
}

.newsfeed__item-info p {
  margin: 0 2.5rem 3rem;
  color: #3e313e;
  font-size: 2rem;
  line-height: 3rem;
}

@media (max-width: 960px) {
  .newsfeed {
    margin-top: 5rem;
  }

  .newsfeed h1 {
    font-size: 5rem;
    font-weight: 900;
  }

  .newsfeed__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .newsfeed__item {
    width: 80%;
    margin: 4rem 0;
  }

  .newsfeed__item-img-container {
    height: 90rem;
  }
  .newsfeed__item-info {
    height: 25rem;
  }

  .newsfeed__item-info h2 {
    font-size: 5rem;
  }

  .newsfeed__item-info p {
    font-size: 4rem;
  }
}

@media (max-width: 640px) {
  .newsfeed__item {
    width: 90%;
  }

  .newsfeed__item-img-container {
    height: 50rem;
  }
  .newsfeed__item-info {
    height: 20rem;
  }

  .newsfeed__item-info h2 {
    font-size: 4rem;
  }

  .newsfeed__item-info p {
    font-size: 3rem;
  }
}
