.restaurant-detail__cover {
  width: calc(100% + 30rem);
  height: 350px;
  margin-top: -3.5rem;
  position: relative;
  margin-left: -15rem;
  margin-right: -15rem;
}

.restaurant-detail__cover img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.restaurant-detail__cover .card {
  background-color: #3bb755;
  padding: 0.8rem 1.5rem;
  height: max-content;
  width: max-content;
  position: absolute;
  top: 2rem;
  box-shadow: none;
  border-radius: 5px;
}

.restaurant-detail__cover .card-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.restaurant-detail__cover .card-title svg {
  transform: translateY(-3px);
}

.restaurant-detail__cover .card-text {
  font-size: 12px;
  color: #fff;
}

@media (max-width: 60rem) {
  .restaurant-detail__cover {
    width: 100%;
    height: 250px;
    margin-left: 0;
    margin-right: 0;
  }

  .restaurant-detail__cover img {
    height: 250px;
  }
}
