.restaurant-detail__cover {
  height: 20rem;
  margin-top: -3.5rem;
  position: relative;
  margin-left: -3rem;
  margin-right: -3rem;
}

.restaurant-detail__cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.restaurant-detail__cover .card {
  background-color: #3bb755;
  padding: 0.2rem 0.8rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 2rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
}

.restaurant-detail__cover .card-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.restaurant-detail__cover .card-title svg {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.restaurant-detail__cover .card-text {
  font-size: 1rem;
  color: #fff;
}

@media (max-width: 960px) {
  .restaurant-detail__cover {
    margin-left: 0;
    margin-right: 0;
  }

  .restaurant-detail__cover .card {
    padding: 0 0.8rem;
  }

  .restaurant-detail__cover .card-title {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
}
