.blog-card {
  -webkit-box-shadow: 0 2px 4px rgb(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 3rem;
  margin-left: 6rem;
  width: 75%;
}

@media (max-width: 960px) {
  .blog-card {
    width: 90%;
    margin: 4rem 0;
  }
}
