.restaurant-detail__information h1,
.restaurant-detail__information p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restaurant-detail__information {
  margin-left: 100px;
}

.restaurant-detail__information h1 {
  font-size: 30px;
  font-weight: 600;
}

.restaurant-detail__information p {
  margin: 5px 0;
}

.restaurant-detail__information p:first-of-type {
  font-size: 18px;
}

.restaurant-detail__information p:last-of-type {
  font-size: 12px;
}

@media (max-width: 60rem) {
  .restaurant-detail__information {
    margin: 0;
  }
}

@media (max-width: 40rem) {
  .restaurant-detail__information {
    margin: 0;
  }

  .restaurant-detail__information h1 {
    font-size: 18px;
  }

  .restaurant-detail__information p:first-of-type {
    font-size: 12px;
  }

  .restaurant-detail__information p:last-of-type {
    font-size: 10px;
  }
}

@font-face {
  font-family: Segoe Ui;
  src: url('../../../../fonts/Segoe\ UI.ttf');
}
