.nocart-img__container img {
  height: 500px;
  width: 350px;
  object-fit: cover;
}

.nocart-img__container p {
  position: absolute;
  color: #838383;
  font-size: 16px;
  font-weight: 700;
  top: 50%;
  left: 12.5%;
}

.checkout-nocart {
  text-align: center;
}

@media (max-width: 60rem) {
  .nocart-img__container {
    display: none;
  }
}
