.cart-info__footer {
  background-color: #f7c12b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 1rem 1rem;
  padding: 2rem;
}

.cart-info__footer-logo {
  position: relative;
}

.cart-info__footer-logo svg {
  font-size: 25px;
}

.logo-badge {
  font-size: 9px;
  position: absolute;
  top: -12px;
  left: 25px;
  border-radius: 50%;
  width: 18px;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.cart-info__footer-logo:hover {
  color: #000;
}

.cart-info__footer-btn {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

.cart-info__footer-btn:hover {
  color: #000;
  background-color: #fff;
  text-shadow: none;
}

.cart-info__mobile {
  display: none;
}

.bump {
  animation: bump 300ms ease forwards;
}

@media (max-width: 60rem) {
  .cart-info__mobile {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #f7c12b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0 0;
    padding: 3rem;
    width: 100%;
    animation: slideUp 300ms ease forwards;
  }

  .cart-info__mobile .logo-badge {
    font-size: 10px;
    top: -6px;
    left: 25px;
    width: 18px;
  }

  .cart-info__mobile a {
    font-size: 16px;
  }

  .cart-info__footer-btn {
    padding: 1rem 2rem;
  }
}

@keyframes bump {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
