.cart {
  flex: 3;
  border-right: 2px solid #c4c4c4;
}

.cart-card__container {
  border-right: 5px solid #f7c12b;
}

.cart-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.225);
  margin: 10px;
  padding: 0;
  overflow: hidden;
  height: max-content;
}

.checkout {
  margin-top: -3.5rem;
}

.checkout .cart-card {
  border-radius: none;
  margin: 0;
}

.cart-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 2rem;
  border-bottom: 1px solid #000;
}

.cart-info__logo {
  margin-right: 20px;
  color: #fff;
  background-color: #fac05e;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.cart-info h1 {
  font-weight: 700;
}

.cart-info__main {
  margin: 2rem;
}

.cart-info__restro-info {
  display: flex;
  justify-content: flex-start;
}

.cart-info__img-container {
  height: 50px;
  width: 50px;
  background-color: #c4c4c4;
}

.cart-info__restro-info h1,
.cart-info__restro-info p {
  font-size: 14px;
  margin-left: 5px;
}

.cart-info__restro-info h1 {
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkout-cart__btn {
  background-color: #f7c12b;
  padding: 1rem;
  border: none;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 800;
  height: 50px;
  width: 300px;
}

.checkout-actions {
  text-align: center;
  padding: 0 3rem;
}

@media (max-width: 60rem) {
  .cart {
    display: none;
  }

  .checkout-cart__btn {
    width: 100%;
  }
}
