/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.buisness-highlights h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin: 2rem 0;
  color: #3e313e;
}
.buisness-highlights__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3rem;
  padding-left: 0;
}

.buisness-highlights__item {
  background: url('../assets/IMAGEgold.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 11.5rem;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 20px;
}

.buisness-highlights__item:first-of-type {
  background: url('../assets/IMAGEsilver.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.buisness-highlights__item:last-of-type {
  background: url('../assets/IMAGEbronze.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.buisness-highlights__item p {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  margin: 5px 15px;
}
.buisness-highlights__item h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  margin: 1rem;
}

.buisness-highlights__item p:last-of-type {
  width: 60%;
  font-weight: normal;
}

@media (max-width: 960px) {
  .buisness-highlights__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
  }

  .buisness-highlights h1 {
    margin: 2.5rem 0;
    font-size: 2rem;
  }

  .buisness-highlights__item {
    width: 90%;
    height: 15rem;
    margin: 10px 0;
  }

  .buisness-highlights__item p {
    font-size: 0.8rem;
  }

  .buisness-highlights__item h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .buisness-highlights__item {
    height: 8rem;
  }
}
