.blog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}

.filter-cards__list {
  width: 60%;
  overflow: hidden;
}

.blog-filter p,
.blog-filter h1 {
  font-size: 16px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
}

.blog-filter h1 {
  color: #999999;
}

.filter-card {
  background-color: #999999;
  margin: 0 10px;
  padding: 1rem;
  border-radius: 5px;
}

.filter-card p {
  color: #fff;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.filter-card__left-btn,
.filter-card__right-btn {
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
}

.blog-filter + hr {
  margin: 20px 0;
  color: #999999;
}

@media (max-width: 960px) {
  .filter-card__right-btn,
  .filter-card__left-btn {
    top: 4px;
  }
}
