.cart-info__dropDown {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
}

.cart-info__dropDown-other__option {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #000;
  width: 6rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.8rem;
  cursor: pointer;
}

.cart-info__dropDown-other__option:hover {
  background-color: #fffcde;
}
