/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.menu-list__item {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.225);
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.225);
  margin: 10px;
  padding: 0;
  overflow: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 45%;
}

.menu-list__img-container {
  width: 100%;
  height: 15rem;
  border-radius: 15px;
  overflow: hidden;
}

.menu-list__img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.menu-list__item-info {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-list__name-price h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}
.menu-list__name-price h3:first-of-type {
  margin-bottom: 1px;
}

.dot {
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot.veg {
  border: 2px solid darkgreen;
}
.dot.veg span {
  background-color: darkgreen;
}

.dot.non-veg {
  border: 2px solid darkred;
}

.dot.non-veg span {
  background-color: darkred;
}

.dot.egg {
  border: 2px solid darkorange;
}

.dot.egg span {
  background-color: darkorange;
}

.dot span::after {
  content: ' ';
}

.dot span {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.menu-list__description {
  margin: 0 1rem 1rem;
  font-size: 0.8rem;
  height: 40px;
  color: #000;
  letter-spacing: 0;
}

.menu-list__add-btn {
  margin: 1.8rem 0 0.5rem 1rem;
  background-color: #d72525;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  width: 100px;
  padding: 0.5rem;
  border-radius: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #d72525;
}

.menu-list__add-btn:hover {
  color: #d72525;
  background-color: #fff;
}

@media (max-width: 960px) {
  .menu-list__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 640px) {
  .menu-list__add-btn {
    margin: 0.5rem 1rem;
  }
}
